h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    
}


.short {
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}